body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    font-family: Open Sans, sans-serif;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #51b2b5;
    color: #f9f9f9;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 12px;
    background-color: #f5f5f5;
    color: #909090;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-weight: 300;
}

select, #new-grid {
    padding: 3px 8px;
    color: #909090;
    background-color: #ffffff;
    border: 1px solid #767676;
    border-radius: 2px;
    color: #909090;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-grid {
    padding: 4px 8px;
    margin: 0px 8px;
    
}

#new-grid:active {
    background-color: #909090;
    color: #ffffff;

}

#grid-wrapper {
    width: 768px;
    height: 768px;
    display: flex;
    flex-direction: column;
    border: solid 1px #f0f0f0;
}

.grid-row, .grid-item {
    margin: 0px;
    padding: 0px;
    flex: 1;
}

.grid-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;    
}
    
.grid-item {
    background-color: #f9f9f9;
    border: solid 1px;
    border-color: #f0f0f0;
}

footer {
    background: #ececec;
    color: #a2a2a2;
    text-align: center;
    padding: 12px;
}