body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    font-family: Open Sans, sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9;
    color: #606060;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-weight: 300;
}

footer {
    background: #ececec;
    color: #a2a2a2;
    text-align: center;
    padding: 8px;

}